.card {
    margin: 20px;   
}


.row {
    margin:auto;
    max-width: 1000px;
}

body {
    background-image: url("../marvelBackground.gif");
}

h1 {
    margin:auto;
    max-width: 950px;
    color: blanchedalmond;
}